<head>
   <head>
<link rel="authorization_endpoint" href="{{AuthEndpointURL}}">       
<link rel="token_endpoint" href="{{TokenEndpointURL}}">
<link rel="micropub" href="{{MicropubEndpointURL}}">
{{#RelMeLinks}}
<link rel="me" href="{{.}}">   
{{/RelMeLinks}}
 
</head> 
<body>
    
   <h1> {{BlogName}}</h1> 
    
    
</body>

    
</head>